# ============================================================
# SIGER PANGAN — Root Environment Variables
# Copy file ini menjadi .env dan sesuaikan nilainya
# ============================================================

# PostgreSQL
POSTGRES_DB=siger_pangan
POSTGRES_USER=siger_user
POSTGRES_PASSWORD=ganti_dengan_password_aman

# Redis
REDIS_PASSWORD=ganti_dengan_password_redis

# MeiliSearch
MEILI_MASTER_KEY=ganti_dengan_master_key_panjang

# Grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=ganti_dengan_password_grafana

# ── API Configuration (Frontend & Mobile) ──
# Gunakan http://localhost:8081/api/v1 jika menjalankan Backend via Docker di lokal
# Gunakan https://api.sigerpangan.my.id/api/v1 untuk testing ke server staging
NEXT_PUBLIC_API_URL=http://localhost:8081/api/v1
FLUTTER_API_BASE_URL=http://localhost:8081/api/v1
