# ============================================================
# SERVICE NLP — Environment Variables
# Copy file ini menjadi .env
# ============================================================

GRPC_PORT=50051
HTTP_PORT=8000
ENVIRONMENT=development

# Model NLP yang digunakan
NLP_MODEL=xx_ent_wiki_sm

# Log level: DEBUG, INFO, WARNING, ERROR
LOG_LEVEL=INFO
